<!-- 
<section id="details-page" class="details" *ngIf="bookList">
    <div class="book-information" >
        <h3>{{bookList[0].title}}</h3>
        <p class="type">Type: {{bookList[0].type}}</p>
        <img class="img" src="{{bookList[0].imageUrl}}"><img>
        <div class="actions">
            
            <ng-container *ngIf="isLoggedIn && owner">
            <a class="button" href="edit/{{bookList[0]._id}}">Edit</a>
            <a class="button" (click)="deleteHandler()">Delete</a>
            </ng-container>

           
        </div>
    </div>
    <div class="book-description">
        <h3>Description:</h3>
        <p>{{bookList[0].description}}</p>
    </div>
</section> -->


