.main-header {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 10px;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.nav.visible {
    display: flex;
}

.nav-item {
    text-align: center;
    border-radius: 12px;
    padding: 15px 30px;
    background-color: black;
    color: #f1f1f1;
    text-decoration: none;
}

.logo-header {
    padding: 20px;
    width: 150px;
}