@import url("header.css");
@import url("listing.css");
@import url("footer.css");

.main-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1920px;
    min-height: 100vh;
}

.list-items-sorting {
    display: flex;
    flex-direction: column;
    /* padding: 0 8px; */
    flex-grow: 1;
}

.sort {
    display: flex;
    align-items: center;
}

.category-info {
    width: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: row;
}

.category-description {
    padding-top: 3px;
    margin-left: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-sort {
    /* min-width: 250px; */
    width: 100%;
}

.dropbtn-sort {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    width: 100%;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content.visible {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.main-info-products {
    display: flex;
}

.filter-section {
    min-width: 250px;
}


.colors-list {
    display: none;
}

.colors-list.visible {
    display: block;
}

.price-list {
    display: none;
}

.price-list.visible {
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

#myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}


#myInput:focus {
    outline: 3px solid #ddd;
}

.load-more-publications {
    margin: 0 auto;
}

.load-more-pub {
    margin-bottom: 10px;
}