<div class="login-area rn-section-gapTop">
  <div class="container">
      <div class="row g-5">
          <div class=" offset-2 col-lg-4 col-md-6 ml_md--0 ml_sm--0 col-sm-12">
              <div class="form-wrapper-one">
                  <h4>Login</h4>
                  <form [formGroup]="validationForm" id="login-form" (ngSubmit)="loginHandler()" >
                      <div class="mb-5">
                          <label for="email" class="form-label">Email address</label>
                          <input type="email" formControlName="email"
                          type="text"
                          name="email"
                          id="email">
                      
                      <ng-container *ngIf="validationForm.get('email')?.touched">
                        <p class="error" *ngIf="validationForm.get('email')?.errors?.['required']">
                          Email is required!
                        </p>
                        <p class="error" *ngIf="validationForm.get('email')?.errors?.['emailValidator']">
                          Email is not valid!
                        </p>
                      </ng-container>
                    </div>
                      <div class="mb-5">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" formControlName="password"
                          name="password"
                          id="password"
                          placeholder="Password">
                          <ng-container *ngIf="validationForm.get('password')?.touched">
                            <p class="error" *ngIf="validationForm.get('password')?.errors?.['required']">
                              Password is required!
                            </p>
                            <p class="error" *ngIf="validationForm.get('password')?.errors?.['minlength']">
                              Password must be at least 5 characters!
                            </p>
                          </ng-container>
                      </div>
                      <div class="mb-5 rn-check-box">
                          <input type="checkbox" class="rn-check-box-input" id="exampleCheck1">
                          <label class="rn-check-box-label" for="exampleCheck1">Remember me leter</label>
                      </div>
                      <ng-container *ngIf="errorMessage">
                         {{errorMessage}}
                      </ng-container>
                      <button type="submit" [disabled]="validationForm.invalid" class="btn btn-primary mr--15">Log In</button>
                      <a routerLink="/auth/register" class="btn btn-primary-alta">Sign Up</a>
                  </form>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="social-share-media form-wrapper-one">
                  <h6>Another way to log in</h6>
                  <p> Lorem ipsum dolor sit, amet sectetur adipisicing elit.cumque.</p>
                  <button class="another-login login-facebook"> <img class="small-image" src="../../../assets/images/icons/google.png" alt=""> <span>Log in with Google</span></button>
                  <button class="another-login login-facebook"> <img class="small-image" src="../../../assets/images/icons/facebook.png" alt=""> <span>Log in with Facebook</span></button>
                  <button class="another-login login-twitter"> <img class="small-image" src="../../../assets/images/icons/tweeter.png" alt=""> <span>Log in with Twitter</span></button>
                  <button class="another-login login-linkedin"> <img class="small-image" src="../../../assets/images/icons/linkedin.png" alt=""> <span>Log in with linkedin</span></button>
              </div>
          </div>
      </div>
  </div>
</div>


