

<header class="rn-header haeder-default header--sticky">
  <div class="container">
    <div class="header-inner">
      <div class="header-left">
        <div class="logo-thumbnail logo-custom-css">
          <a class="logo-light" routerLink="/"
            ><img
              src="../../../assets/images/logo/logo-dark.png"
              alt="nft-logo"
          /></a>
          <a class="logo-dark" routerLink="/"
            ><img
              src="../../../assets/images/logo/logo-white.png"
              alt="nft-logo"
          /></a>
        </div>
        <div class="mainmenu-wrapper">
          <nav id="sideNav" class="mainmenu-nav d-none d-xl-block">
            <ul class="mainmenu">
              <li class="has-menu-child-item">
                <a routerLink="/">Home</a>
              </li>
              <li><a>About</a></li>

              <li class="with-megamenu">
                <a >Pages</a>
                <div class="rn-megamenu">
                  <div class="wrapper">
                    <div class="row row--0">
                      <div class="col-lg-3 single-mega-item">
                        <ul class="mega-menu-item">
                          <li *ngIf="!isLoggedIn">
                            <a routerLink="/auth/login"
                              >Log In <i data-feather="log-in"></i
                            ></a>
                          </li>
                          <li *ngIf="!isLoggedIn">
                            <a routerLink="/auth/register"
                              >Registration <i data-feather="user-plus"></i
                            ></a>
                          </li>

                          <li *ngIf="isLoggedIn">
                            <a routerLink="auth/logout"
                              > Logout <i data-feather="user"></i
                            ></a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-3 single-mega-item">
                        <ul class="mega-menu-item">
                          <li *ngIf="isLoggedIn">
                            <a routerLink="publication/create"
                              >Create Book<i data-feather="file-plus"></i
                            ></a>
                          </li>

                          <li *ngIf="isLoggedIn">
                            <a href="publication/mybooks"
                              >Your Collection<i data-feather="package"></i
                            ></a>
                          </li>
                          <li >
                            <a href="publication/libery"
                              >Library<i data-feather="file-plus"></i
                            ></a>
                          </li>

                        </ul>
                      </div>
                     
                    </div>
                  </div>
                </div>
              </li>

              <li><a>Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="header-right">
        <div class="setting-option d-none d-lg-block">
          <form  [formGroup]="validationForm" class="search-form-wrapper"  id="create-form"   (ngSubmit)="createdHandler()">
            <input
              type="search"
              placeholder="Search"
              aria-label="Search"
              formControlName="keyword"
            />
            <div class="search-icon" >
              <button [disabled]="validationForm.invalid" routerLink="/search" ><i class="feather-search"></i></button>
            </div>
           
          </form>
         
        </div>
          
          <ng-container  *ngIf="validationForm.get('keyword')?.touched">
            <div  class="error" *ngIf="validationForm.get('keyword')?.errors?.['required']">
                Author or Title
            </div>
        </ng-container>
          
        
        <div id="my_switcher" class="my_switcher setting-option">
          <ul>
            <li>
              <a
              href="javascript:void(0)"
                data-theme="light"
                class="setColor light"
              >
                <img
                  class="sun-image"
                  src="/assets/images/icons/sun-01.svg"
                  alt="Sun images"
                />
              </a>
            </li>
            <li>
              <a
              href="javascript:void(0)"
                data-theme="dark"
                class="setColor dark"
              >
                <img
                  class="Victor Image"
                  src="/assets/images/icons/vector.svg"
                  alt="Vector Images"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
